#sidebar{
    width: 20vw;
    height: 100vh;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    z-index: 2;
    color: white;
}

.sidebar-ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
  
.sidebar-li button{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}


.sidebar-li:hover, .sidebar-li button:hover{
    background-color: #1F1B24;
    cursor: pointer;
}


.sidebar-div{
    font-size: 24px;
    margin-top: 20%;
}